/* Start Varibles */

/* End Varibles */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;         
}
body{
    font-family: "Work Sans" , sans-serif;
}
.parent{
  background-color: #EEE;
}
.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Small */
@media (min-width: 768px ){
  .container{
    width:750px ;
  }
}
/* Medium */
@media (min-width: 992px ){
  .container{
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px ){
  .container{
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Header */
.header{
  padding: 20px;
}
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo{
  width: 60px;
}
.header .links{
  position: relative; 
  
}
.header .links:hover .icon span:nth-child(2){
  width: 100%;
}
.header .links .icon{
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span{
  background-color: #222;
  height: 2px;
  margin-bottom: 6px;

}
.header .links .icon span:first-child{
  width: 100%;
}
.header .links .icon span:nth-child(2){
  width: 60%;
  transition: 0.3s;
}
.header .links .icon span:last-child{
  width: 100%;
}
.header .links ul{
  background-color: #f6f6f6;
  list-style: none;
  margin-top: 0;
  padding: 0;
  position:absolute ;
  right: 0;
  min-width: 200px;
  top: calc(100% + 20px);
  display: none;
  transition: 0.3s;
}
.header .links:hover ul{
 display: block;
}
.header .links ul::before{
  content: "";
  border-color: transparent transparent #f6f6f6 transparent ;
  border-width:10px ;
  border-style: solid;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links ul li a{
  display: block;
  text-decoration: none;
  padding: 15px;
  color: #333;
  transition: 0.3s;

}
.header .links ul li:not(:last-child){
  border-bottom:solid 1px #ddd ;
}
.header .links ul li a:hover{
  padding-left: 25px;
}

/* End Header */
